body {
    background-color: beige;

}


.container {
    width: 980px;
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100px 200px 300px 200px 300px;
    grid-template-areas: "header header"
    "main top"
    "main aside"
    "main bottom"
    "footer footer";
}

.container div {
    padding: 20px;
    border: 1px solid black;
    background-color: skyblue;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;

}

.top {
    grid-area: top;

}

.aside {
    grid-area: aside;

}

.bottom {
    grid-area: bottom;

}

.footer {
    grid-area: footer;

}
